@import './main.scss';

.header {
  margin: 0 30px;
  padding: 20px 0;

  .profileimg {
    @include flexbox();
    margin-bottom: 20px;

    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .profilename {
    font-size: 25px;
    color: $primary;
    font-family: $dos;
    text-align: center;
  }
}
