@import './main.scss';

.header {
  @include flexbox;
  width: 100vw;
  height: 5%;

  h1 {
    color: $white;
    font-family: $light;
    font-size: 12px;
    text-align: center;
  }

  @include responsive(T) {
    h1 {
      font-size: 15px;
    }
  }
}
