@import './main.scss';

.modal {
  position: absolute;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  color: $primary;
  text-align: center;
  transform: translate3d(200%, 100vh, 0) scale(1, 0.1);
  transition: transform 500ms ease-in-out;

  &.isActive {
    transform: translate3d(200%, 0, 0) scale(1, 1);
  }

  .workdetail {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    background: #ebebeb;

    .title {
      font-size: 20px;
      color: $primary;
      text-align: center;
    }

    .yearAndGenre {
      display: block;
      color: $primary;
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;

      .year,
      .genre {
        display: inline;
      }
    }

    .skill {
      color: #3b3b3b;
      font-size: 12px;
      text-align: center;
      margin-bottom: 30px;
      // font-family: $light;
    }

    .detail {
      // font-family: $medium;
      font-size: 12px;
      color: $primary;
      margin: 15px 0;
    }

    .detailImg,
    .detailVideo {
      display: block;
      width: 90%;
      max-width: 500px;
      margin: 3px auto;
    }

    @include responsive(T) {
      .title {
        font-size: 25px;
      }

      .detail {
        font-size: 15px;
      }

      .detailImg {
        width: 70%;
        margin: 3px auto;
      }
    }
  }

  .artWorkImg {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    margin: 50px auto;
  }

  .modal ::-webkit-scrollbar {
    display: none;
  }
}
