@import './main.scss';

.workslist {
  @include flexbox;
  flex-wrap: wrap;
  margin: 0 5%;

  .categoryTitle {
    display: block;
    width: 100%;
    font-size: 30px;
    font-family: $bold;
    color: $primary;
    text-align: center;
    margin: 20px 0;
  }

  .work {
    @include flexbox;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background: #ebebeb;
    box-shadow: 7px 7px 5px #cccccc, -7px -7px 5px #ffffff;
    color: $primary;
    overflow-y: scroll;
    -ms-overflow-style: none;

    .thumbnail {
      display: block;
      margin: 0 auto 10px auto;
      height: 100px;
    }

    .title {
      width: 100%;
      margin-bottom: 5px;
      font-family: $bold;
      text-align: center;
      font-size: 20px;
    }

    .genre {
      width: 100%;
      font-family: $light;
      font-size: 11px;
    }

    .summary {
      width: 100%;
      font-family: $medium;
      font-size: 14px;
    }
  }

  .work::-webkit-scrollbar {
    display: none;
  }

  @include responsive(T) {
    margin: 20px 5%;

    .categoryTitle {
      font-size: 35px;
    }

    .work {
      margin: 0 2.5% 20px 2.5%;
      padding: 20px;
      width: 45%;
      height: 300px;

      .title {
        font-size: 22px;
      }

      .thumbnail {
        height: 140px;
      }

      .genre {
        font-size: 12px;
      }

      .summary {
        font-size: 16px;
      }
    }
  }
}
